.activator {
  height: 250px !important;
  padding: 20px !important;
}

.border-basic {
  border-style: solid;
  border-color: #282c34;
  border-radius: 3px;
  padding: 3px;
  border-width: 1px;
}

.border-right {
  border-right-style: solid;
  border-right-color: #282c34;
  border-right-width: 1px;
}

.card {
  width: 95%;
}

.col {
  padding: 0 !important;
}

.column-header {
  width: 80%;
  text-align: center;
}

.delete-button {
  display: inline-block;
  color: white;
  background-color: red;
  cursor: pointer;
  transition: background-color 0.3s ease-out 50ms;
}

.delete-button:hover {
  background-color: rgb(255, 121, 121);
}

.dropdown-content {
  top: 50px !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
  z-index: 100;
}

.floating-btn {
  bottom: 80px;
}

.header-container {
  padding: 10px;
}

.highlight {
  color: white;
  background-color: black;
}

hr {
  border: 1px solid grey;
}

html, body {
  height: 100%;
}

.main-container {
  width: 80%;
}

.modal {
  overflow-x: hidden !important;
}

.padding-no-bottom {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 !important;
}

.padding-left {
  padding-left: 10px !important;
}

.padding-right {
  padding-right: 2% !important;
}

.search-padding {
  padding: 10px !important;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.ticket-icon {
  font-size: 30px; 
  padding: 20px;
}

.update-button {
  display: inline-block;
  color: white;
  background-color: rgb(0, 162, 255);
  cursor: pointer;
  transition: background-color 0.3s ease-out 50ms;
}

.update-button:hover {
  background-color: rgb(114, 201, 251);
}

@media only screen and (min-width: 0px) and (max-width: 426px) {
  
  .border-full {
    border-left-style: none;
    border-right-style: none;
    border-color: #282c34;
    border-width: 2px;
    border-radius: 0;
  }

  .floating-btn {
    bottom: 60px;
  }

  .header-btn {
    width: 40px !important;
    height: 40px !important;
  }

  .header-btn i {
    line-height: 40px !important;
  }
  
  .main-container {
    width: 100%;
  }

  .padding-left {
    padding-left: 5px !important;
  }

  .search-padding {
    padding: 0 5px !important;
  }

  h1 {
    font-size: 28pt;
  }
  
  h2 {
    font-size: 23pt;
  }

  h3 {
    font-size: 18pt;
  }

  h4 {
    font-size: 14pt;
  }

  h5 {
    font-size: 13pt;
  }

  h6 {
    font-size: 10pt;
  }

  p {
    font-size: 10pt;
  }

  .ticket-icon {
    font-size: 15px; 
    padding: 10px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  
  .border-full {
    border-left-style: none;
    border-right-style: none;
    border-color: #282c34;
    border-width: 2px;
    border-radius: 0;
  }

  .floating-btn {
    bottom: 60px;
  }

  .main-container {
    width: 100%;
  }

  .padding-left {
    padding-left: 5px !important;
  }

  .search-padding {
    padding: 0 5px !important;
  }

  h1 {
    font-size: 30pt;
  }
  
  h2 {
    font-size: 25pt;
  }

  h3 {
    font-size: 23pt;
  }

  h4 {
    font-size: 18pt;
  }

  h5 {
    font-size: 15pt;
  }

  h6 {
    font-size: 12pt;
  }

  p {
    font-size: 12pt;
  }

  .ticket-icon {
    font-size: 20px; 
    padding: 15px;
  }
}
