.border-full {
  border-style: solid;
  border-color: #282c34;
  border-radius: 5px;
  border-width: 2px;
}

.border-right {
  border-right-style: solid;
  border-right-color: #282c34;
  border-right-width: 1px;
}

.col {
  padding: 0 !important;
}

.dropdown-content {
  top: 50px !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
}

.floating-btn {
  bottom: 80px;
}

.header-container {
  padding: 10px;
}

hr {
  border: 1px solid grey;
}

html, body {
  height: 100%;
}

.main-container {
  width: 80%;
}

.modal {
  overflow-x: hidden !important;
}

.padding-no-bottom {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 !important;
}

.padding-left {
  padding-left: 10px !important;
}

.padding-right {
  padding-right: 2% !important;
}

.search-padding {
  padding: 10px !important;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.ticket-block {
  height: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 426px) {
  
  .border-full {
    border-left-style: none;
    border-right-style: none;
    border-color: #282c34;
    border-width: 2px;
    border-radius: 0;
  }

  .floating-btn {
    bottom: 60px;
  }

  .main-container {
    width: 100%;
  }

  .padding-left {
    padding-left: 5px !important;
  }

  .search-padding {
    padding: 0 5px !important;
  }

  h1 {
    font-size: 28pt;
  }
  
  h2 {
    font-size: 23pt;
  }

  h3 {
    font-size: 18pt;
  }

  h4 {
    font-size: 13pt;
  }

  h5 {
    font-size: 10pt;
  }

  h6 {
    font-size: 8pt;
  }

  p {
    font-size: 7pt;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  
  .border-full {
    border-left-style: none;
    border-right-style: none;
    border-color: #282c34;
    border-width: 2px;
    border-radius: 0;
  }

  .floating-btn {
    bottom: 60px;
  }

  .main-container {
    width: 100%;
  }

  .padding-left {
    padding-left: 5px !important;
  }

  .search-padding {
    padding: 0 5px !important;
  }

  h1 {
    font-size: 30pt;
  }
  
  h2 {
    font-size: 25pt;
  }

  h3 {
    font-size: 23pt;
  }

  h4 {
    font-size: 18pt;
  }

  h5 {
    font-size: 13pt;
  }

  h6 {
    font-size: 10pt;
  }

  p {
    font-size: 12pt;
  }
}
